.container1 {
  width: 22%;
}
.container_1 {
  min-height: 45vh;
  background-color: white;
  border-radius: 10px;
  min-height: 42vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.profile_img img {
  display: flex;
  margin-left: 3.6rem;
  width: 75px;
}
.sidebar .profile {
  flex-direction: column;
  display: flex;
  margin-left: 9rem;
  margin-top: -3.5rem;
}

.sidebar .view {
  margin-top: 2.8rem;
  margin-bottom: 1.9rem;
  margin-left: 3.7rem;
  column-gap: 2rem;
}

.sidebar_icon {
  margin-top: 1rem;
  margin-left: 4rem;
  column-gap: 2rem;
}
.group,
.hastag,
.page,
.statistics,
.item,
.profile_view {
  display: flex;
  gap: 1rem;
  margin: 12px;
}
.profile_view {
  box-shadow: 0px 1px gray;
}

/* ------------Left Sidebar Media Queries------------*/

@media screen and (max-width: 1140px) {
  .container1 {
    display: none;
  }
  .container1 {
    width: auto;
  }
}
