.container2 {
  width: 54%;
}
.container_two {
  background: #fff;
  min-height: 22vh;
  position: relative;
  border-radius: 0.5rem;
  /* margin-top: 0.8rem; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.text {
  margin-top: 1%;
  margin-left: 2.4rem;
  font-size: 12px;
  font-weight: 300;
}
.container_two input {
  text-align: center;
  margin-top: 1.8rem;
  border: none transparent;
  outline: none;
}
.main_media {
  display: flex;
  gap: 2rem;
  margin-left: 1.9rem;
  margin-top: 2.2rem;
  color: gray;
}

.main_container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.main_heading {
  background: #fff;
  margin-top: 1.5rem;
  /* height: 80vh; */
  border-radius: 0.6rem;
}
.comment {
  display: flex;
  justify-content: space-between;
}

.commented {
  margin-left: 0.9rem;
  margin-top: 0.6rem;
}
.commented span {
  font-size: 14px;
  color: black;
}

.comment i {
  margin-top: 0.7rem;
  margin-right: 1rem;
}
.main_content {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
}
.main_image img {
  width: 90%;
  height: auto;
  border-radius: 0%;
}
.content {
  margin-left: 1.3rem;
  color: black;
}

.main_image {
  width: 111%;
  margin-top: 1.4rem;
}

.like {
  display: flex;
  gap: 2rem;
  margin-left: 1.6rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1299px) {
  .container2 {
    width: 75%;
  }
}

@media screen and (max-width: 1133px) {
  .container2 {
    width: 90%;
  }
}

@media screen and (max-width: 1006px) {
  main {
    width: 85vw;
    height: auto;
    gap: 0rem;
  }
}
