@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: rgb(235, 235, 235);
}
p {
  font-size: 0.8rem;
  color: gray;
}
h6 {
  color: black;
}

strong {
  color: black;
  font-size: 12px;
}
small {
  font-size: 10px;
  color: grey;
}

div i {
  color: gray;
}

.container {
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
  margin-top: 60px;
}

/* 1rem = 16px; */
