@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: rgb(235, 235, 235);
}
p {
  font-size: 0.8rem;
  color: gray;
}
h6 {
  color: black;
}

strong {
  color: black;
  font-size: 12px;
}
small {
  font-size: 10px;
  color: grey;
}

div i {
  color: gray;
}

.container {
  display: grid;
  grid-template-columns: 22% 47% 22%;
  /* grid-template-columns: 1fr 2fr 1fr; */
  gap: 1rem;
  width: 85%;
  margin: 1rem auto;
  margin-top: 60px;
  color: rebeccapurple;
}

.main_section {
  background: #fff;
  height: 60vh;
  position: relative;
  border-radius: 1rem;
}
.left-sidebar,
.right_side {
  background: #fff;
  min-height: 45vh;
  max-width: 22vw;
  position: relative;
  border-radius: 1rem;
}
