.container3 {
  width: 22%;
}

.recommended_profile {
  display: grid;
  margin-left: 1.4rem;
  margin-top: 1rem;
  font-size: 14px;
}

.profile_1 {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: -3.3rem;
}
.profile1 {
  display: flex;
  margin-top: 0.4rem;
  margin-left: 1rem;
  align-items: center;
  padding: 0px 10px 3px;
  margin: 14px;
}

.add i {
  position: absolute;
  margin-top: -25px;
  margin-left: 13rem;
  color: rgb(45, 102, 167);
  cursor: pointer;
}
/* --------------right sidebar  Media Queries---- */

@media screen and (max-width: 1300px) {
  .container3 {
    display: none;
  }
}

/* -------------------container bottom -------------- */
.container_top {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5rem;
  background-color: white;
  margin-top: -1rem;
  min-height: 38vh;
}

.container_bottom {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* height: 36vh; */
  margin-top: 4rem;
  background-color: white;
  height: 34vh;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.container_bottom p {
  margin-left: 1.5rem;
}
.linkdin_pic img {
  width: 100%;
  border-radius: 0%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
